.view {
    width: 350px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view__img {
    height: 200px;
    width: auto;
}

.view__name {
    font-weight: 500;
    font-size: 20px;
}

.view__desc {
    width: 200px;
    padding: 10px 20px;
    border: 1px solid black;
}

.view__list {
    margin-top: 20px;
    width: 200px;
    padding-left: 15px;
}

p {
    margin: 2px;
}