<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>CARD</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" data-th-href="@{/css/style.css}" />
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" data-th-href="@{/css/viewStyle.css}" />
</head>

<body>
<div class="view">
  <img class="view__img" th:src="${myCard.imgUrl}" alt="">

  <h3 class="view__name"  th:utext="${myCard.name}">...</h3>

  <div class="view__desc">
    <p th:text="${myCard.description}">...</p>
  </div>

  <div class="view__list">
    <p th:text="'- Prix :  ' + ${myCard.price}">...</p>
    <p th:text="'- Type 1 :  ' + ${myCard.type1}">...</p>
    <p th:text="'- Type 2 :  ' + ${myCard.type2}">...</p>
    <p th:text="'- Points d\'expérience :  ' + ${myCard.hp}">...</p>
    <p th:text="'- Points d\'attaque :  ' + ${myCard.attack}">...</p>
    <p th:text="'- Points de défense :  ' + ${myCard.defense}">...</p>
  </div>

</div>
</body>

</html>