<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" data-th-href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/formStyle.css" data-th-href="@{/css/formStyle.css}" />
</head>

<body>
<div th:replace="fragments/header :: header">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<form th:action="@{/user/{id}/money (id=${user.id})}"
      th:object="${userMoneyForm}"
      method="POST">
    <fieldset>
        <legend>Add money</legend>

        <div>
            <h3 th:utext="${user.username}">...</h3>
            <h3 th:utext="'Actual:' + ${user.money} + '$'">...</h3>
        </div>

        <div class="form__line">
            <label for="form-money">Add</label>
            <div>
                <input
                        id="form-money"
                        type="number"
                        name="money"
                        placeholder="10.00$"
                        th:field="*{money}"
                >
            </div>
        </div>

        <div>
            <input type="submit"
                   class="uk-button uk-button-default"
                   value="Register">
        </div>
    </fieldset>
</form>
</body>
</html>